<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IRCalc.Src.Resources.I18N.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IRCalc.Src.Resources.I18N.pt_br" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IRCalc.Src.Resources.I18N.Settings1>
            <setting name="asd" serializeAs="String">
                <value />
            </setting>
        </IRCalc.Src.Resources.I18N.Settings1>
        <IRCalc.Src.Resources.I18N.pt_br>
            <setting name="i18n_calc_month" serializeAs="String">
                <value>Mês</value>
            </setting>
            <setting name="i18n_calc_installment" serializeAs="String">
                <value>Parcela</value>
            </setting>
            <setting name="i18n_calc_total" serializeAs="String">
                <value>Total</value>
            </setting>
        </IRCalc.Src.Resources.I18N.pt_br>
    </userSettings>
</configuration>